:root {
    --blue: #083C5A;
    --green: #4CB648;
    --yellow: #FCC72C;
    --offwhite: #E4F4FD
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--blue);
    background-color: var(--offwhite);
}

#top_tag {
    height: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    background: var(--offwhite);
    font-size: 25px;
    height: 12vh;
}
nav a{
    margin-left: 5rem;
}

.home {
    z-index: 3;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    padding-top: 5px;
}

a {
    text-decoration: none;
    color: #082032;
}
a:hover {
    color: var(--yellow);
}

.honeybee {
    position: absolute;
    text-align: center;
    left: 20%;
    top: 180vh;
    height: 20vw;
    max-height: 60px;
    z-index: 9;
}

.logo {
    height: 50px;
    position: absolute;
    text-align: center;
    color: var(--yellow);
    text-shadow: 1px 1px 1px black;
    left: 50%;
    top: 50%;
    font-size: 25px;
    transform: translate(-50%, -50%) scale(8);
}

.section {
    height: 100vh;
}

#about {
    padding-top: 15vh;
    color: var(--yellow);
    background-image: linear-gradient(to right, var(--blue), var(--green));
    text-align: center;
    /* z-index: -1; */
    display: flex;
    align-items: center;
}

#about p {
    padding: 3% 10%;
}

.about-text {
    width: 50%;
}

.carousel {
    width: 50%;
}

.carousel img {
    height: 50vh;
    border-radius: 10px;
    border: 1px solid black;
    /* z-index: 0; */
}

#contact {
    padding-top: 15vh;
    height: 88vh;
    background-image: url(../static/beehive.png);
    background-size: cover;
    background-position: center;
    font-size: 3rem;
}

.contact-text {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
}
.contact-text a {
    padding:20px 0;
    z-index: 4;
}

.photo-scroll {
    padding: 3%;
    display: flex;
    overflow: scroll;
    height: 100vh;
    scroll-snap-type: mandatory;
    scroll-snap-points-x: repeat(100vh);
    scroll-snap-type: x mandatory;
}


@media only screen and (max-width: 800px) {

    nav {
        display: flex;
        justify-content: space-between;
        padding: 0;
        background: var(--offwhite);
        font-size: 15px;
        height: 12vh;
        align-items: center;
    }

    nav a{
        margin-left: 0;
        padding: 15px 10px;
    }
    .sliding-text {
        font-size: 15px;
        padding-left: 10px;
    }
    ul{
        margin-top: 2vh;
        padding-right: 10px;
    }
    .logo{
        transform: translate(-50%, -50%) scale(6);
    }

    .honeybee{
        display: none;
    }

    #about {
        flex-direction: column;
    }
    .about-text{
        height: 30%;
        overflow: scroll;
        width: 100%;
    }
    .carousel {
        width: 90vw;
        height: 90vw;
    }
    .carousel img{
        height: 80vw;
    }
    #contact {
        background-image: url(../static/honeycomb-bg.png);
        
    }
    .contact-text {
        margin-left: 0;
        width: 100%;
        align-items: center;
    }
}
/* @media only screen and (max-width: 600px) {} */