<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
<h1>My Library</h1>
    <ul>
        {% if library %}
            {% for book in library %}
            <li>
                <button onclick="window.location.href='/edit/{{ book.id }}'">Edit</button>
                <button onclick="window.location.href='/delete/{{ book.id }}'">Delete</button>
                {{ book.title }}, {{ book.author }}, {{ book.rating }}</li>
            {% endfor %}
        {% else %}
            <li>Library is empty</li>
        {% endif %}
    </ul>
    
<a href="{{ url_for('add') }}">Add New Book</a>
</body>
</html>