<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <title>Ben's Info</title>
</head>

<body>
    <section class="home">
        <nav>
            <h1 class="sliding-text">Real good honey...</h1>
            <ul>
                <li><a href="#about">About Us</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <h1 class="logo">Golden State <br>Honey Bees</h1>
    </section>

    <div class="about">
        <h3>About us...</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita pariatur ipsam minus, aliquid architecto
            enim nostrum. Molestiae asperiores error reiciendis aliquam? Cupiditate veritatis aut nemo sunt rerum
            officiis, officia quibusdam!</p>
    </div>
    <div class="about">
        <h3>About us...</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita pariatur ipsam minus, aliquid architecto
            enim nostrum. Molestiae asperiores error reiciendis aliquam? Cupiditate veritatis aut nemo sunt rerum
            officiis, officia quibusdam!</p>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"
        integrity="sha512-eP6ippJojIKXKO8EPLtsUMS+/sAGHGo1UN/38swqZa1ypfcD4I0V/ac5G3VzaHfDaklFmQLEs51lhkkVaqg60Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/ScrollTrigger.min.js"
        integrity="sha512-CPA5LMoJI/a5HkSIAKcBtFXe4gqGjPUL2ExF/3PmhrrHI17wod9xOqqF+0WZQRKIIq0KwF8oG5BaiWobtrke3A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../static/app.js"></script>
</body>

</html>